<!DOCTYPE html>
<head>
</head>
<body>
  <div class="topbar">
    <img src = "smile.png" alt = "is this working">
    <h1>Telemedicine Portal</h1>
    <button type = "button">New Patients</button>
    <button type = "button">Returning Patients</button>
    <button type = "button">Administration</button>
  </div>
  <div class = leftbar>
    <img src = "" alt = "Dr Name/Location">
    <button type = "button">Appointments</button>
    <button type = "button">Patients</button>
    <button type = "button">Medication Requests</button>
    <button type = "button">Upload Reports</button>
    <button type = "button">Chats</button>
    <button type = "button">Video Chat</button>
    <button type = "button">Inbox</button>
  </div>
</body>